<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="2.7.4" targetFramework="net472" />
  <package id="linq2db.Oracle.Managed" version="2.7.4" targetFramework="net472" />
  <package id="linq2db.PostgreSQL" version="2.7.4" targetFramework="net472" />
  <package id="linq2db.SqlServer" version="2.7.4" targetFramework="net472" />
  <package id="linq2db.t4models" version="2.7.4" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net472" />
  <package id="Npgsql" version="4.0.7" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.18.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.OracleClient" version="1.0.8" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>